$primary_color:#fff;
$line_color: #555;
$axis_label_color: #999999;
$axis_color: #CFCFCF;
$white: #fff;

$greyDarkest : #333;
$greyDarker : #666;
$greyDark : #999;
$greyNormal : #aaa;
$greyLight : #bababa;
$greyLighter : #c5c5c5;
$greyLightest : #d5d5d5;

$technicalDarkest : #B73D25;
$technicalDarker : #CF553D;
$technicalDark : #E26A52;
$technicalNormal : #EF806A;
$technicalLight : #F59A88;
$technicalLighter : #F3B4A8;
$technicalLightest : #F4CEC6;

$engagementDarkest : #B1343E;
$engagementDarker : #C84D57;
$engagementDark : #DE6770;
$engagementNormal : #EF7D85;
$engagementLight : #F4949A;
$engagementLighter : #F6ABAF;
$engagementLightest : #F4C5C7;

$seoDarkest : #563661;
$seoDarker : #73507F;
$seoDark : #8C6998;
$seoNormal : #A285AC;
$seoLight : #B299BB;
$seoLighter : #C6B2CD;
$seoLightest : #D8C8DE;

$discoveryDarkest : #252343;
$discoveryDarker : #36335D;
$discoveryDark : #4E4B7C;
$discoveryNormal : #656298;
$discoveryLight : #7F7CA9;
$discoveryLighter : #9C99BE;
$discoveryLightest : #C2C0DD;

$contentDarkest : #083652;
$contentDarker : #154A6B;
$contentDark : #276489;
$contentNormal : #3F84AD;
$contentLight : #5EA0C7;
$contentLighter : #80B8DA;
$contentLightest : #A2CEE8;

$socialDarkest : #137283;
$socialDarker : #218B9E;
$socialDark : #37A7BB;
$socialNormal : #53C1D5;
$socialLight : #7CCFDE;
$socialLighter : #98DFEC;
$socialLightest : #ABE8F3;

$visitorDarkest : #2B5737;
$visitorDarker : #3E6F4B;
$visitorDark : #50835D;
$visitorNormal : #6CA27A;
$visitorLight : #84B18F;
$visitorLighter : #9CC2A6;
$visitorLightest : #B5D7BE;

$revenueDarkest : #42591E;
$revenueDarker : #59762C;
$revenueDark : #6F8F3E;
$revenueNormal : #8FB35A;
$revenueLight : #A6C875;
$revenueLighter : #BDDC91;
$revenueLightest : #D1E6B3;

$adwordsDarkest : #7E7726;
$adwordsDarker : #9E9537;
$adwordsDark : #B5AC4A;
$adwordsNormal : #D5CB5F;
$adwordsLight : #DCD47F;
$adwordsLighter : #E9E192;
$adwordsLightest : #F1EAA7;

$audienceDarkest : #BE5E2A;
$audienceDarker : #CE6D39;
$audienceDark : #E4824D;
$audienceNormal : #FC9A66;
$audienceLight : #FFB48C;
$audienceLighter : #FFC9AC;
$audienceLightest : #FFD7C1;
