.ordinal_axis .tick line.grid-line {
	fill: none;
	stroke-width: 1;
	shape-rendering: crispEdges;
	stroke: $axis_color;
	opacity: .5;
}

.ordinal_axis .tick line.grid-line.zero {
	stroke-width: 3;
	opacity: 1;
}

.ordinal_axis .tick text {
	fill: $axis_label_color;
}

.ordinal_axis path.domain {
	opacity: 0;
}