.peopleMobileChart .no-mobile-shape {
	opacity: 0.2;
}

.peopleMobileChart rect.rectbg {
	fill:white;
	visibility: hidden;
}

.peopleMobileChart #mobile-shape-2 #mobile-shape-2-earplug-string path {
	fill:none;
}

// .peopleMobileChart .highlight {
// 	fill: #656298;
// }

// .peopleMobileChart .highlightStroke {
// 	stroke: #656298;
// }