.pieChart .pieCenterLayer .pieCenter {
	font-size: 45px;
	text-anchor: middle;
	font-weight: 300;
	fill: #ddd;
}

.pieChart .pieSectorsLayer .slice {
	stroke: white;
}

.pieChart .pieLabelLayer text {
	fill: $axis_label_color;
}

.pieChart .pieTip {
	font-size: 24px
}

.pieChart.small .pieTip {
	font-size: 24px
}

.pieChart.large .pieLabel {
	font-size: 20px
}

.pieChart text.piePercentage {
	pointer-events: none;
	fill: white;
	font-size: 18px;
}

// .pieChart.small .piePercentage text{
// 	font-size: 12px;
// }

// .pieChart.medium .piePercentage text{
// 	font-size: 16px;
// }
