.quantitativeAxisChart .quantitative_axis .tick line.grid-line {
	fill: none;
	stroke-width: 1;
	shape-rendering: crispEdges;
	stroke: $axis_color;
	opacity: .5;
}

.quantitativeAxisChart .quantitative_axis .tick line.grid-line.zero {
	stroke-width: 3;
	opacity: 1;
}

.quantitativeAxisChart .quantitative_axis .tick text {
	fill: $axis_label_color;
}

.quantitativeAxisChart .quantitative_axis path.domain {
	opacity: 0;
}

.quantitativeAxisChart rect.negativeArea {
	fill: #fafafa;
}